<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="./css/newcar.css" type="text/css" rel="stylesheet"/>
  <title>购物车</title>
</head>
<body>
<div id="app">
  <div class="tag">
    <span v-for="(item,index) in headsel_value" :key="index" @click="headsel(index)">{{item}}</span>
  </div>
  <div class="head">
    <div style="width: 4%;">
      <input type="checkbox" id="checkA" @click="selAll($event.currentTarget)" v-model="allSelect"/>
      <label for="checkA"></label>
    </div>
    <p style="width: 13%;">全选</p>
  </div>
  <!--商品店铺-->
  <div class="center">
    <div class="shopname" v-for="(item,index) in renderList" :key="index">
      <div style="width: 4%;">
        <input type="checkbox" :id="'check'+index" name="checkboxs"  @click="selshop(item)" v-model="item.sel" />
        <label :for="'check'+index"></label>
      </div>
      <p>{{item.shopname}}</p>
      <ul>
        <li class="goodsli" v-for="(goods,idx) in item.goods" :key="idx">
          <div style="width: 4%;">
            <input type="checkbox" :id=`${item.id}+${idx}` @click="selgoods(goods,index)"  v-model="goods.sel" name="checkgoods" />
            <label :for=`${item.id}+${idx}` ></label>
          </div>
          <P style="width:29%">{{goods.goodsname}}</P>
          <P>{{goods.price}}</P>
          <!--数量组件-->
          <goods-list-mount
            :goods="goods"
            :now-amount="goods.count"
            :max-amount="parseInt(goods.kc)"
            @change-amount="changeAmount">
          </goods-list-mount>

          <div class="specification">
            <span>规格:</span>
            <div style="display: inline-block">
              <div class="btn_spacifi">
                <span v-for="(Specione,idxOne) in goods.Specifi.one" :key="idxOne">{{Specione.value}}</span>
              </div>
              <div class="btn_spacifi">
                <span v-for="(Specitwo,idxTwo) in goods.Specifi.two" :key="idxTwo">{{Specitwo.value}}</span>
              </div>

            </div>
          </div>
          <P>删除</P>
        </li>
      </ul>
    </div>
  </div>
  <!--规格弹框-->
  <div style="position: absolute;top: 0;left: 0;">

  </div>
</div>
</body>
<!--数量-->
<script type="text/template" id="goodsListMount">
  <div class="adddel">
    <button type="button" class="amount-btn" @click="minusAmount">-</button>
    <input type="text" class="amount-input" v-model.number="amount" @click.stop>
    <button type="button" class="amount-btn" @click="addAmount">+</button>
  </div>
</script>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/mount_size.js"></script>
<script src="./js/cart.js"></script>




<script>
  (function () {


  })();
</script>
</html>
